<footer id="footer">
  <div class="top__footer">
    <div class="container">
      <div class="footer__col fo_01">
        <h3 class="footer__title">About Us</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut.
        </p>
        <ul class="footer__links">
          <li>
            <a href="#">
              <i class="fas fa-map-marker"></i>1734 Stonecoal Road
            </a>
          </li>
          <li>
            <a href="#"> <i class="fas fa-phone"></i>+021-95-51-84 </a>
          </li>
          <li>
            <a href="#"> <i class="far fa-envelope"></i>email@email.com </a>
          </li>
        </ul>
      </div>
      <div class="footer__col fo-02">
        <h3 class="footer_title">Categories</h3>
        <ul class="footer__links">
          <li>
            <a href="#">Hot deals</a>
          </li>
          <li>
            <a href="#">Laptops</a>
          </li>
          <li>
            <a href="#">Smartphones</a>
          </li>
          <li>
            <a href="#">Cameras</a>
          </li>
          <li>
            <a href="#">Accessories</a>
          </li>
        </ul>
      </div>
      <div class="footer__col fo-03">
        <h3 class="footer__title">Information</h3>
        <ul class="footer__links">
          <li>
            <a href="#">About Us</a>
          </li>
          <li>
            <a href="#">Contact Us</a>
          </li>
          <li>
            <a href="#">Privacy Policy</a>
          </li>
          <li>
            <a href="#">Orders and Returns</a>
          </li>
          <li>
            <a href="#">Terms & Conditions</a>
          </li>
        </ul>
      </div>
      <div class="footer__col fo-04">
        <h3 class="footer__title">Service</h3>
        <ul class="footer__links">
          <li>
            <a href="#">My Account</a>
          </li>
          <li>
            <a href="#">View Cart</a>
          </li>
          <li>
            <a href="#">Wishlist</a>
          </li>
          <li>
            <a href="#">Track My Order</a>
          </li>
          <li>
            <a href="#">Help</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bottom__footer">
    <div class="container">
      <ul class="footer_payments">
        <li>
          <a href="#">
            <i class="fa-brands fa-cc-visa"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-credit-card"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-brands fa-cc-paypal"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-brands fa-cc-mastercard"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-brands fa-cc-discover"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-brands fa-cc-amex"></i>
          </a>
        </li>
      </ul>
      <span class="copyright">
        Copyright &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        All rights reserved | This template is made with{" "}
        <i class="far fa-heart" aria-hidden="true"></i> by{" "}
        <a href="https://colorlib.com" target="_blank"> Colorlib </a>
      </span>
    </div>
  </div>
</footer>
