<div class="hot__deals">
  <div class="container">
    <ul class="deals__countdown">
      <li>
        <div>
          <h3>03</h3>
          <span>Days</span>
        </div>
      </li>
      <li>
        <div>
          <h3>10</h3>
          <span>Hours</span>
        </div>
      </li>
      <li>
        <div>
          <h3>34</h3>
          <span>Mins</span>
        </div>
      </li>
      <li>
        <div>
          <h3>60</h3>
          <span>Secs</span>
        </div>
      </li>
    </ul>
    <h2 class="text_uppercase">hot deal this week</h2>
    <p class="off_50">New Collection Up to 50% OFF</p>
    <a class="btn deal__shop__btn" href="#"> Shop now </a>
  </div>
</div>
