{% load static %}

<div class="categories">
  <div class="container">
    <div class="shop__category">
      <div class="shop__img">
        <img src="{% static 'media/shop01.png' %}" alt="" />
      </div>
      <div class="shop__detail">
        <h3>
          Laptop <br />
          Collection
        </h3>
        <a href="#"> Shop now <i class="fa fa-arrow-circle-right"></i> </a>
      </div>
    </div>
    <div class="shop__category">
      <div class="shop__img">
        <img src="{% static 'media/shop03.png' %}" alt="" />
      </div>
      <div class="shop__detail">
        <h3>
          <h3>Accessories<br />Collection</h3>
        </h3>
        <a href="#"> Shop now <i class="fa fa-arrow-circle-right"></i> </a>
      </div>
    </div>
    <div class="shop__category">
      <div class="shop__img">
        <img src="{% static 'media/shop02.png' %}" alt="" />
      </div>
      <div class="shop__detail">
        <h3>Cameras<br />Collection</h3>
        <a href="#"> Shop now <i class="fa fa-arrow-circle-right"></i> </a>
      </div>
    </div>
  </div>
</div>